<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools">
    <application>
        <service android:name=".LiveConnectionService" android:exported="false" android:foregroundServiceType="remoteMessaging" />
        <service android:name=".ZerusFirebaseService" android:exported="false">
            <intent-filter><action android:name="com.google.firebase.MESSAGING_EVENT" /></intent-filter>
        </service>
        <meta-data android:name="firebase_messaging_auto_init_enabled" android:value="true" />
        <provider android:name="com.google.firebase.provider.FirebaseInitProvider" tools:node="remove" />
        <service android:name="com.google.firebase.components.ComponentDiscoveryService" tools:node="merge">
            <meta-data android:name="com.google.firebase.components:com.google.firebase.analytics.connector.internal.AnalyticsConnectorRegistrar" tools:node="remove" />
        </service>
        <service android:name="com.google.android.gms.measurement.AppMeasurementService" android:enabled="true" tools:replace="android:enabled" />
        <service android:name="com.google.android.gms.measurement.AppMeasurementJobService" android:enabled="true" tools:replace="android:enabled" />
        <receiver android:name="com.google.android.gms.measurement.AppMeasurementReceiver" android:enabled="true" tools:replace="android:enabled" />
        <meta-data android:name="firebase_crashlytics_collection_enabled" android:value="false" />
        <meta-data android:name="google_analytics_automatic_screen_reporting_enabled" android:value="false" />
        <meta-data android:name="google_analytics_adid_collection_enabled" android:value="false" />
        <meta-data android:name="google_analytics_default_allow_ad_personalization_signals" android:value="false" />
        <meta-data android:name="firebase_analytics_collection_enabled" android:value="false" />
    </application>
</manifest>
